/* checkbox */
.checkbox_wrap {
    display: flex;
    align-items: center;
    gap: var(--spacing-spacing-content-sm, 4px);
}

.checkbox_wrap input[type="checkbox"] {
    width: 18px;
    height: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;
    background-image: url("../images/Icon/checkbox-disabled-light.svg");
    cursor: pointer;

    &:hover {
        background-image: url("../images/Icon/checkbox-hover-light.svg");
    }

    &:active {
        background-image: url("../images/Icon/checkbox-press-light.svg");
    }

    &:checked {
        background-image: url("../images/Icon/checkbox-enabled-light.svg");
    }
}