:root {
    /* font-size */
    --font-size-default: 16;

    /* font-weight */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;

    /* Value */
    /* colors */
    --color-base-black: #1f1717;
    --color-base-cyan-100: #02e7f5;
    --color-base-cyan-25: #02e7f540;
    --color-base-white: #ffffff;
    --color-base-yellow-100: #f3ff40;
    --color-base-yellow-25: #f3ff4040;
    --color-base-yellow-50: #f3ff4080;
    --color-base-yellow-75: #f3ff40bf;
    --color-primary-brand-100: #e0f0ff;
    --color-primary-brand-200: #c1e1ff;
    --color-primary-brand-25: #fafcff;
    --color-primary-brand-300: #8fc2ff;
    --color-primary-brand-400: #2e8fff;
    --color-primary-brand-50: #f5fbff;
    --color-primary-brand-500: #0075f4;
    --color-primary-brand-600: #0059c2;
    --color-primary-brand-700: #0051a8;
    --color-primary-brand-800: #003e7f;
    --color-primary-brand-900: #001933;
    --color-primary-brand-950: #001329;
    --color-primary-drop-100: #fee4e2;
    --color-primary-drop-200: #fecdca;
    --color-primary-drop-25: #fffbfa;
    --color-primary-drop-300: #fda29b;
    --color-primary-drop-400: #f97066;
    --color-primary-drop-50: #fef3f2;
    --color-primary-drop-500: #f04438;
    --color-primary-drop-600: #d92d20;
    --color-primary-drop-700: #b42318;
    --color-primary-drop-800: #912018;
    --color-primary-drop-900: #7a271a;
    --color-primary-drop-950: #55160c;
    --color-primary-gold-100: #e0d9b1;
    --color-primary-gold-200: #cbc17d;
    --color-primary-gold-25: #f8f5e8;
    --color-primary-gold-300: #bba953;
    --color-primary-gold-400: #b09539;
    --color-primary-gold-50: #f2efd9;
    --color-primary-gold-500: #a57e29;
    --color-primary-gold-600: #8e6322;
    --color-primary-gold-700: #71491f;
    --color-primary-gold-800: #5b3a1d;
    --color-primary-gold-900: #4b3019;
    --color-primary-gold-950: #2f1e10;
    --color-primary-gray-100: #e0e2e6;
    --color-primary-gray-200: #d3d4d9;
    --color-primary-gray-25: #f5f5f8;
    --color-primary-gray-300: #b1b3bb;
    --color-primary-gray-400: #7b7d8a;
    --color-primary-gray-50: #ededef;
    --color-primary-gray-500: #525461;
    --color-primary-gray-600: #393d48;
    --color-primary-gray-700: #2b2e39;
    --color-primary-gray-800: #191c26;
    --color-primary-gray-900: #0f111a;
    --color-primary-gray-950: #0b0c12;
    --color-primary-notice-100: #f4ebff;
    --color-primary-notice-200: #e9d7fe;
    --color-primary-notice-25: #fcfaff;
    --color-primary-notice-300: #d6bbfb;
    --color-primary-notice-400: #b692f6;
    --color-primary-notice-50: #f9f5ff;
    --color-primary-notice-500: #9e77ed;
    --color-primary-notice-600: #7f56d9;
    --color-primary-notice-700: #6941c6;
    --color-primary-notice-800: #53389e;
    --color-primary-notice-900: #42307d;
    --color-primary-notice-950: #2c1c5f;
    --color-primary-rise-100: #dcfae6;
    --color-primary-rise-200: #abefc6;
    --color-primary-rise-25: #f6fef9;
    --color-primary-rise-300: #75e0a7;
    --color-primary-rise-400: #47cd89;
    --color-primary-rise-50: #ecfdf3;
    --color-primary-rise-500: #17b26a;
    --color-primary-rise-600: #079455;
    --color-primary-rise-700: #067647;
    --color-primary-rise-800: #085d3a;
    --color-primary-rise-900: #074d31;
    --color-primary-rise-950: #053321;
    --color-primary-warning-100: #fef0c7;
    --color-primary-warning-200: #fedf89;
    --color-primary-warning-25: #fffcf5;
    --color-primary-warning-300: #fec84b;
    --color-primary-warning-400: #fdb022;
    --color-primary-warning-50: #fffaeb;
    --color-primary-warning-500: #f79009;
    --color-primary-warning-600: #dc6803;
    --color-primary-warning-700: #b54708;
    --color-primary-warning-800: #93370d;
    --color-primary-warning-900: #7a2e0e;
    --color-primary-warning-950: #4e1d09;
    --color-secondary-blue-100: #d1e9ff;
    --color-secondary-blue-200: #b2ddff;
    --color-secondary-blue-300: #84caff;
    --color-secondary-blue-400: #53b1fd;
    --color-secondary-blue-500: #2e90fa;
    --color-secondary-blue-600: #1570ef;
    --color-secondary-blue-700: #175cd3;
    --color-secondary-blue-800: #1849a9;
    --color-secondary-blue-900: #194185;
    --color-secondary-bluedark-100: #d1e0ff;
    --color-secondary-bluedark-200: #b2ccff;
    --color-secondary-bluedark-300: #84adff;
    --color-secondary-bluedark-400: #528bff;
    --color-secondary-bluedark-500: #2970ff;
    --color-secondary-bluedark-600: #155eef;
    --color-secondary-bluedark-700: #004eeb;
    --color-secondary-bluedark-800: #0040c1;
    --color-secondary-bluedark-900: #00359e;
    --color-secondary-bluelight-100: #e0f2fe;
    --color-secondary-bluelight-200: #b9e6fe;
    --color-secondary-bluelight-300: #7cd4fd;
    --color-secondary-bluelight-400: #36bffa;
    --color-secondary-bluelight-500: #0ba5ec;
    --color-secondary-bluelight-600: #0086c9;
    --color-secondary-bluelight-700: #026aa2;
    --color-secondary-bluelight-800: #065986;
    --color-secondary-bluelight-900: #0b4a6f;
    --color-secondary-cyan-100: #cff9fe;
    --color-secondary-cyan-200: #a5f0fc;
    --color-secondary-cyan-300: #67e3f9;
    --color-secondary-cyan-400: #22ccee;
    --color-secondary-cyan-500: #06aed4;
    --color-secondary-cyan-600: #088ab2;
    --color-secondary-cyan-700: #0e7090;
    --color-secondary-cyan-800: #155b75;
    --color-secondary-cyan-900: #164c63;
    --color-secondary-fuchsia-100: #fbe8ff;
    --color-secondary-fuchsia-200: #f6d0fe;
    --color-secondary-fuchsia-300: #eeaafd;
    --color-secondary-fuchsia-400: #e478fa;
    --color-secondary-fuchsia-500: #d444f1;
    --color-secondary-fuchsia-600: #ba24d5;
    --color-secondary-fuchsia-700: #9f1ab1;
    --color-secondary-fuchsia-800: #821890;
    --color-secondary-fuchsia-900: #6f1877;
    --color-secondary-green-100: #d3f8df;
    --color-secondary-green-200: #aaf0c4;
    --color-secondary-green-300: #73e2a3;
    --color-secondary-green-400: #3ccb7f;
    --color-secondary-green-500: #16b364;
    --color-secondary-green-600: #099250;
    --color-secondary-green-700: #087443;
    --color-secondary-green-800: #095c37;
    --color-secondary-green-900: #084c2e;
    --color-secondary-greenlight-100: #e4fbcc;
    --color-secondary-greenlight-200: #d0f8ab;
    --color-secondary-greenlight-300: #a6ef67;
    --color-secondary-greenlight-400: #85e13a;
    --color-secondary-greenlight-500: #66c61c;
    --color-secondary-greenlight-600: #4ca30d;
    --color-secondary-greenlight-700: #3b7c0f;
    --color-secondary-greenlight-800: #326212;
    --color-secondary-greenlight-900: #2b5314;
    --color-secondary-indigo-100: #e0eaff;
    --color-secondary-indigo-200: #c7d7fe;
    --color-secondary-indigo-300: #a4bcfd;
    --color-secondary-indigo-400: #8098f9;
    --color-secondary-indigo-500: #6172f3;
    --color-secondary-indigo-600: #444ce7;
    --color-secondary-indigo-700: #3538cd;
    --color-secondary-indigo-800: #2d31a6;
    --color-secondary-indigo-900: #2d3282;
    --color-secondary-orange-100: #fdead7;
    --color-secondary-orange-200: #f9dbaf;
    --color-secondary-orange-300: #f7b27a;
    --color-secondary-orange-400: #f38744;
    --color-secondary-orange-500: #ef6820;
    --color-secondary-orange-600: #e04f16;
    --color-secondary-orange-700: #b93815;
    --color-secondary-orange-800: #932f19;
    --color-secondary-orange-900: #772917;
    --color-secondary-orangedark-100: #ffe6d5;
    --color-secondary-orangedark-200: #ffd6ae;
    --color-secondary-orangedark-300: #ff9c66;
    --color-secondary-orangedark-400: #ff692e;
    --color-secondary-orangedark-500: #ff4405;
    --color-secondary-orangedark-600: #e62e05;
    --color-secondary-orangedark-700: #bc1b06;
    --color-secondary-orangedark-800: #97180c;
    --color-secondary-orangedark-900: #771a0d;
    --color-secondary-pink-100: #fce7f6;
    --color-secondary-pink-200: #fcceee;
    --color-secondary-pink-300: #faa7e0;
    --color-secondary-pink-400: #f670c7;
    --color-secondary-pink-500: #ee46bc;
    --color-secondary-pink-600: #dd2590;
    --color-secondary-pink-700: #c11574;
    --color-secondary-pink-800: #9e165f;
    --color-secondary-pink-900: #851651;
    --color-secondary-purple-100: #ebe9fe;
    --color-secondary-purple-200: #d9d6fe;
    --color-secondary-purple-300: #bdb4fe;
    --color-secondary-purple-400: #9b8afb;
    --color-secondary-purple-500: #7a5af8;
    --color-secondary-purple-600: #6938ef;
    --color-secondary-purple-700: #5925dc;
    --color-secondary-purple-800: #4a1fb8;
    --color-secondary-purple-900: #3e1c96;
    --color-secondary-rose-100: #ffe4e8;
    --color-secondary-rose-200: #fecdd6;
    --color-secondary-rose-300: #fea3b4;
    --color-secondary-rose-400: #fd6f8e;
    --color-secondary-rose-500: #f63d68;
    --color-secondary-rose-600: #e31b54;
    --color-secondary-rose-700: #c01048;
    --color-secondary-rose-800: #a11043;
    --color-secondary-rose-900: #89123e;
    --color-secondary-teal-100: #ccfbef;
    --color-secondary-teal-200: #99f6e0;
    --color-secondary-teal-300: #5fe9d0;
    --color-secondary-teal-400: #2ed3b7;
    --color-secondary-teal-500: #15b79e;
    --color-secondary-teal-600: #0e9384;
    --color-secondary-teal-700: #107569;
    --color-secondary-teal-800: #125d56;
    --color-secondary-teal-900: #134e48;
    --color-secondary-violet-100: #ece9fe;
    --color-secondary-violet-200: #ddd6fe;
    --color-secondary-violet-300: #c3b5fd;
    --color-secondary-violet-400: #a48afb;
    --color-secondary-violet-500: #875bf7;
    --color-secondary-violet-600: #7839ee;
    --color-secondary-violet-700: #6927da;
    --color-secondary-violet-800: #5720b7;
    --color-secondary-violet-900: #491c96;
    --color-secondary-yellow-100: #fef7c3;
    --color-secondary-yellow-200: #feee95;
    --color-secondary-yellow-300: #fde272;
    --color-secondary-yellow-400: #fac515;
    --color-secondary-yellow-500: #eaaa08;
    --color-secondary-yellow-600: #ca8504;
    --color-secondary-yellow-700: #a15c07;
    --color-secondary-yellow-800: #854a0e;
    --color-secondary-yellow-900: #713b12;
    /* numbers */
    --radius-1: 0.15625rem;
    --radius-2: 0.3125rem;
    --radius-3: 0.625rem;
    --radius-4: 1.25rem;
    --spacing-content-0: -0.5rem;
    --spacing-content-1: 0.125rem;
    --spacing-content-2: 0.25rem;
    --spacing-content-3: 0.5rem;
    --spacing-content-4: 0.75rem;
    --spacing-content-5: 1rem;
    --spacing-layout-1: 0.3125rem;
    --spacing-layout-2: 0.625rem;
    --spacing-layout-3: 0.9375rem;
    --spacing-layout-4: 1.25rem;
    --spacing-layout-5: 1.5625rem;
    --spacing-layout-6: 1.875rem;
    --spacing-layout-7: 2.1875rem;
    --spacing-layout-8: 2.5rem;
}

html,
html[data-theme="light"] {
    /* Light */
    /* colors */
    --background-background-chat: var(--color-primary-brand-25);
    --background-background-chat-subscribe: var(--color-base-cyan-25);
    --background-background-chat-timeline: var(--color-base-yellow-50);
    --background-background-header: var(--color-base-white);
    --background-background-live-score: var(--color-base-yellow-100);
    --background-background-notice: var(--color-primary-notice-50);
    --background-background-odds-drop: var(--color-base-yellow-100);
    --background-background-page: var(--color-primary-gray-25);
    --background-background-primary: var(--color-base-white);
    --background-background-prompt: var(--color-primary-drop-50);
    --background-background-quaternary: var(--color-primary-gray-25);
    --background-background-result-win: var(--color-primary-warning-300);
    --background-background-row-hover: var(--color-base-yellow-50);
    --background-background-secondary: var(--color-primary-gray-100);
    --background-background-tertiary: var(--color-primary-gray-50);
    --background-background-tooltip: var(--color-primary-gray-700);
    --border-border-chance: var(--color-primary-drop-300);
    --border-border-default: var(--color-primary-gray-200);
    --border-border-error: var(--color-primary-drop-600);
    --border-border-focus: var(--color-primary-brand-600);
    --border-border-window: var(--color-primary-gray-300);
    --decorative-badge-badge-blue: var(--color-primary-brand-600);
    --decorative-badge-badge-green: var(--color-primary-rise-600);
    --decorative-badge-badge-live: var(--color-primary-drop-500);
    --decorative-badge-badge-premium: var(--color-primary-notice-950);
    --decorative-badge-badge-red: var(--color-primary-drop-600);
    --decorative-badge-badge-yellow: var(--color-primary-warning-400);
    --decorative-icon-icon-gold: var(--color-primary-gold-500);
    --decorative-icon-icon-gold-icon: var(--color-primary-gold-100);
    --decorative-icon-icon-green: var(--color-primary-rise-600);
    --decorative-icon-icon-injury: var(--color-primary-drop-700);
    --decorative-icon-icon-red: var(--color-primary-drop-600);
    --decorative-icon-icon-star-full: var(--color-primary-warning-500);
    --decorative-icon-icon-star-half: var(--color-primary-warning-200);
    --decorative-icon-icon-yellow: var(--color-primary-warning-400);
    --decorative-progress-progress-away: var(--color-secondary-pink-500);
    --decorative-progress-progress-draw: var(--color-primary-gray-200);
    --decorative-progress-progress-home: var(--color-secondary-bluelight-500);
    --decorative-rank-rank-afc-championsleague: var(--color-secondary-bluelight-500);
    --decorative-rank-rank-afc-championsleague-qualifier: var(--color-secondary-bluelight-400);
    --decorative-rank-rank-afc-cup: var(--color-secondary-cyan-500);
    --decorative-rank-rank-afc-cup-qualifier: var(--color-secondary-cyan-400);
    --decorative-rank-rank-bronze: var(--color-primary-warning-500);
    --decorative-rank-rank-bronze-rank: var(--color-primary-warning-900);
    --decorative-rank-rank-caf-championsleague: var(--color-secondary-green-500);
    --decorative-rank-rank-caf-confederationcup: var(--color-secondary-green-400);
    --decorative-rank-rank-championsleague: var(--color-secondary-bluedark-600);
    --decorative-rank-rank-championsleague-qualifier: var(--color-secondary-bluedark-500);
    --decorative-rank-rank-concacaf-caribbeancup: var(--color-secondary-indigo-500);
    --decorative-rank-rank-concacaf-centralamericancup: var(--color-secondary-rose-500);
    --decorative-rank-rank-concacaf-championscup: var(--color-secondary-teal-500);
    --decorative-rank-rank-concacaf-championscup-qualifier: var(--color-secondary-teal-400);
    --decorative-rank-rank-concacaf-leaguescup: var(--color-primary-gray-500);
    --decorative-rank-rank-conferenceleague: var(--color-secondary-greenlight-500);
    --decorative-rank-rank-conferenceleague-playoff: var(--color-secondary-greenlight-300);
    --decorative-rank-rank-conferenceleague-qualifier: var(--color-secondary-greenlight-400);
    --decorative-rank-rank-copa-libertadores: var(--color-secondary-yellow-600);
    --decorative-rank-rank-copa-libertadores-qualifier: var(--color-secondary-yellow-500);
    --decorative-rank-rank-copa-sudamericana: var(--color-primary-gray-400);
    --decorative-rank-rank-copa-sudamericana-qualifier: var(--color-primary-gray-300);
    --decorative-rank-rank-europaleague: var(--color-secondary-orangedark-500);
    --decorative-rank-rank-europaleague-qualifier: var(--color-secondary-orangedark-400);
    --decorative-rank-rank-gold: var(--color-secondary-yellow-400);
    --decorative-rank-rank-gold-rank: var(--color-secondary-yellow-800);
    --decorative-rank-rank-ofc-championsleague: var(--color-primary-rise-500);
    --decorative-rank-rank-ofc-championsleague-qualifier: var(--color-primary-rise-400);
    --decorative-rank-rank-promotion: var(--color-primary-brand-700);
    --decorative-rank-rank-promotion-playoff: var(--color-primary-brand-500);
    --decorative-rank-rank-promotion-qualifier: var(--color-primary-brand-600);
    --decorative-rank-rank-promotion-qualifier-playoff: var(--color-primary-brand-400);
    --decorative-rank-rank-promotion-split: var(--color-primary-notice-500);
    --decorative-rank-rank-relegation: var(--color-primary-drop-700);
    --decorative-rank-rank-relegation-playoff: var(--color-primary-drop-500);
    --decorative-rank-rank-relegation-qualifier: var(--color-primary-drop-600);
    --decorative-rank-rank-relegation-qualifier-playoff: var(--color-primary-drop-400);
    --decorative-rank-rank-relegation-split: var(--color-primary-warning-500);
    --decorative-rank-rank-series-final: var(--color-secondary-violet-700);
    --decorative-rank-rank-series-quarterfinals: var(--color-secondary-fuchsia-600);
    --decorative-rank-rank-series-semifinal: var(--color-secondary-purple-500);
    --decorative-rank-rank-series-tournament: var(--color-secondary-pink-400);
    --decorative-rank-rank-silver: var(--color-primary-gray-200);
    --decorative-rank-rank-silver-rank: var(--color-primary-gray-500);
    --decorative-rank-rank-torneo-final: var(--color-primary-gold-500);
    --decorative-rating-rating-40: var(--color-secondary-orangedark-500);
    --decorative-rating-rating-50: var(--color-secondary-orange-500);
    --decorative-rating-rating-60: var(--color-secondary-yellow-500);
    --decorative-rating-rating-70: var(--color-secondary-greenlight-500);
    --decorative-rating-rating-80: var(--color-secondary-green-500);
    --decorative-rating-rating-90: var(--color-secondary-teal-500);
    --decorative-user-user-dice: var(--color-secondary-bluelight-700);
    --decorative-user-user-exp: var(--color-secondary-greenlight-500);
    --decorative-user-user-exp-hover: var(--color-secondary-greenlight-600);
    --decorative-user-user-gold: var(--color-secondary-yellow-300);
    --decorative-user-user-gold-hover: var(--color-secondary-yellow-400);
    --decorative-user-user-level: var(--color-secondary-green-700);
    --decorative-user-user-notification: var(--color-secondary-rose-600);
    --decorative-user-user-notification-hover: var(--color-secondary-rose-700);
    --decorative-user-user-profit: var(--color-secondary-cyan-500);
    --decorative-user-user-profit-hover: var(--color-secondary-cyan-600);
    --decorative-user-user-shop: var(--color-secondary-yellow-700);
    --interactive-button-button-close-hover: var(--color-primary-drop-600);
    --interactive-button-button-close-press: var(--color-primary-drop-400);
    --interactive-button-button-default: var(--color-primary-gray-600);
    --interactive-button-button-disabled: var(--color-primary-gray-400);
    --interactive-button-button-primary-enabled: var(--color-primary-brand-600);
    --interactive-button-button-primary-hover: var(--color-primary-brand-500);
    --interactive-button-button-primary-press: var(--color-primary-brand-700);
    --interactive-button-button-secondary-hover: var(--color-primary-gray-500);
    --interactive-button-button-secondary-on: var(--color-primary-warning-400);
    --interactive-button-button-secondary-press: var(--color-primary-gray-300);
    --interactive-scrollbar-scrollbar-default: var(--color-primary-gray-300);
    --interactive-scrollbar-scrollbar-track: var(--color-primary-gray-400);
    --interactive-toggle-toggle-disabled: var(--color-primary-gray-25);
    --interactive-toggle-toggle-disabled-hover: var(--color-primary-gray-50);
    --interactive-toggle-toggle-enabled: var(--color-primary-brand-600);
    --interactive-toggle-toggle-enabled-hover: var(--color-primary-brand-500);
    --text-base-text-accent-primary: var(--color-primary-gray-700);
    --text-base-text-accent-quaternary: var(--color-primary-notice-600);
    --text-base-text-accent-secondary: var(--color-primary-drop-600);
    --text-base-text-accent-tertiary: var(--color-primary-warning-400);
    --text-base-text-inverse: var(--color-base-white);
    --text-base-text-modal-notice: var(--color-primary-notice-700);
    --text-base-text-modal-prompt: var(--color-primary-drop-700);
    --text-base-text-primary: var(--color-primary-gray-600);
    --text-base-text-quaternary: var(--color-primary-gray-300);
    --text-base-text-result-win: var(--color-primary-gray-700);
    --text-base-text-secondary: var(--color-primary-gray-500);
    --text-base-text-tertiary: var(--color-primary-gray-400);
    --text-base-text-tooltip: var(--color-primary-gray-100);
    --text-chat-text-chat-acion: var(--color-primary-gray-400);
    --text-chat-text-chat-error: var(--color-primary-drop-500);
    --text-chat-text-chat-notice: var(--color-primary-notice-600);
    --text-chat-text-chat-subscribe: var(--text-base-text-primary);
    --text-chat-text-chat-timeline: var(--text-base-text-primary);
    --text-odds-text-odds-drop: var(--color-primary-drop-600);
    --text-odds-text-odds-drop-30: var(--color-primary-warning-500);
    --text-odds-text-odds-rise: var(--color-primary-rise-600);
    --text-odds-text-odds-rise-70: var(--color-primary-notice-700);
    --text-odds-text-odds-wager: var(--color-primary-brand-500);
    /* numbers */
    --radius-radius-xs: var(--radius-1);
    --radius-radius-sm: var(--radius-2);
    --radius-radius-md: var(--radius-3);
    --radius-radius-lg: var(--radius-4);
    --spacing-spacing-content-ke: var(--spacing-content-0);
    --spacing-spacing-content-xs: var(--spacing-content-1);
    --spacing-spacing-content-sm: var(--spacing-content-2);
    --spacing-spacing-layout-xs: var(--spacing-layout-1);
    --spacing-spacing-content-md: var(--spacing-content-3);
    --spacing-spacing-layout-sm: var(--spacing-layout-2);
    --spacing-spacing-content-lg: var(--spacing-content-4);
    --spacing-spacing-layout-md: var(--spacing-layout-3);
    --spacing-spacing-content-xl: var(--spacing-content-5);
    --spacing-spacing-layout-lg: var(--spacing-layout-4);
    --spacing-spacing-layout-xl: var(--spacing-layout-5);
    --spacing-spacing-layout-2xl: var(--spacing-layout-6);
    --spacing-spacing-layout-3xl: var(--spacing-layout-7);
    --spacing-spacing-layout-4xl: var(--spacing-layout-8);
}

html[data-theme="dark"] {
    /* Dark */
    /* colors */
    --background-background-chat: var(--color-primary-gray-900);
    --background-background-chat-subscribe: var(--background-background-chat);
    --background-background-chat-timeline: var(--background-background-chat);
    --background-background-header: var(--color-primary-gray-950);
    --background-background-live-score: var(--color-base-yellow-50);
    --background-background-notice: var(--color-primary-notice-900);
    --background-background-odds-drop: var(--color-base-yellow-100);
    --background-background-page: var(--color-primary-gray-900);
    --background-background-primary: var(--color-primary-gray-800);
    --background-background-prompt: var(--color-primary-drop-900);
    --background-background-quaternary: var(--color-primary-gray-700);
    --background-background-result-win: var(--color-primary-warning-400);
    --background-background-row-hover: var(--color-base-yellow-25);
    --background-background-secondary: var(--color-primary-gray-500);
    --background-background-tertiary: var(--color-primary-gray-600);
    --background-background-tooltip: var(--color-primary-gray-50);
    --border-border-chance: var(--color-primary-drop-800);
    --border-border-default: var(--color-primary-gray-700);
    --border-border-error: var(--color-primary-drop-500);
    --border-border-focus: var(--color-primary-brand-500);
    --border-border-window: var(--color-primary-gray-600);
    --decorative-badge-badge-blue: var(--color-primary-brand-500);
    --decorative-badge-badge-green: var(--color-primary-rise-500);
    --decorative-badge-badge-live: var(--color-primary-drop-500);
    --decorative-badge-badge-premium: var(--color-primary-notice-950);
    --decorative-badge-badge-red: var(--color-primary-drop-500);
    --decorative-badge-badge-yellow: var(--color-primary-warning-300);
    --decorative-icon-icon-gold: var(--color-primary-gold-400);
    --decorative-icon-icon-gold-icon: var(--color-primary-gold-800);
    --decorative-icon-icon-green: var(--color-primary-rise-500);
    --decorative-icon-icon-injury: var(--color-primary-drop-600);
    --decorative-icon-icon-red: var(--color-primary-drop-500);
    --decorative-icon-icon-star-full: var(--color-primary-warning-400);
    --decorative-icon-icon-star-half: var(--color-primary-warning-100);
    --decorative-icon-icon-yellow: var(--color-primary-warning-300);
    --decorative-progress-progress-away: var(--color-secondary-pink-500);
    --decorative-progress-progress-draw: var(--color-primary-gray-600);
    --decorative-progress-progress-home: var(--color-secondary-bluelight-500);
    --decorative-rank-rank-afc-championsleague: var(--color-secondary-bluelight-600);
    --decorative-rank-rank-afc-championsleague-qualifier: var(--color-secondary-bluelight-500);
    --decorative-rank-rank-afc-cup: var(--color-secondary-cyan-600);
    --decorative-rank-rank-afc-cup-qualifier: var(--color-secondary-cyan-500);
    --decorative-rank-rank-bronze: var(--color-primary-warning-400);
    --decorative-rank-rank-bronze-rank: var(--color-primary-warning-800);
    --decorative-rank-rank-caf-championsleague: var(--color-secondary-green-600);
    --decorative-rank-rank-caf-confederationcup: var(--color-secondary-green-500);
    --decorative-rank-rank-championsleague: var(--color-secondary-bluedark-700);
    --decorative-rank-rank-championsleague-qualifier: var(--color-secondary-bluedark-600);
    --decorative-rank-rank-concacaf-caribbeancup: var(--color-secondary-indigo-600);
    --decorative-rank-rank-concacaf-centralamericancup: var(--color-secondary-rose-600);
    --decorative-rank-rank-concacaf-championscup: var(--color-secondary-teal-600);
    --decorative-rank-rank-concacaf-championscup-qualifier: var(--color-secondary-teal-500);
    --decorative-rank-rank-concacaf-leaguescup: var(--color-primary-gray-600);
    --decorative-rank-rank-conferenceleague: var(--color-secondary-greenlight-600);
    --decorative-rank-rank-conferenceleague-playoff: var(--color-secondary-greenlight-400);
    --decorative-rank-rank-conferenceleague-qualifier: var(--color-secondary-greenlight-500);
    --decorative-rank-rank-copa-libertadores: var(--color-secondary-yellow-700);
    --decorative-rank-rank-copa-libertadores-qualifier: var(--color-secondary-yellow-600);
    --decorative-rank-rank-copa-sudamericana: var(--color-primary-gray-500);
    --decorative-rank-rank-copa-sudamericana-qualifier: var(--color-primary-gray-400);
    --decorative-rank-rank-europaleague: var(--color-secondary-orangedark-600);
    --decorative-rank-rank-europaleague-qualifier: var(--color-secondary-orangedark-500);
    --decorative-rank-rank-gold: var(--color-secondary-yellow-300);
    --decorative-rank-rank-gold-rank: var(--color-secondary-yellow-700);
    --decorative-rank-rank-ofc-championsleague: var(--color-primary-rise-600);
    --decorative-rank-rank-ofc-championsleague-qualifier: var(--color-primary-rise-500);
    --decorative-rank-rank-promotion: var(--color-primary-brand-800);
    --decorative-rank-rank-promotion-playoff: var(--color-primary-brand-600);
    --decorative-rank-rank-promotion-qualifier: var(--color-primary-brand-700);
    --decorative-rank-rank-promotion-qualifier-playoff: var(--color-primary-brand-500);
    --decorative-rank-rank-promotion-split: var(--color-primary-notice-600);
    --decorative-rank-rank-relegation: var(--color-primary-drop-800);
    --decorative-rank-rank-relegation-playoff: var(--color-primary-drop-600);
    --decorative-rank-rank-relegation-qualifier: var(--color-primary-drop-700);
    --decorative-rank-rank-relegation-qualifier-playoff: var(--color-primary-drop-500);
    --decorative-rank-rank-relegation-split: var(--color-primary-warning-600);
    --decorative-rank-rank-series-final: var(--color-secondary-violet-800);
    --decorative-rank-rank-series-quarterfinals: var(--color-secondary-fuchsia-700);
    --decorative-rank-rank-series-semifinal: var(--color-secondary-purple-600);
    --decorative-rank-rank-series-tournament: var(--color-secondary-pink-500);
    --decorative-rank-rank-silver: var(--color-primary-gray-100);
    --decorative-rank-rank-silver-rank: var(--color-primary-gray-400);
    --decorative-rank-rank-torneo-final: var(--color-primary-gold-600);
    --decorative-rating-rating-40: var(--color-secondary-orangedark-600);
    --decorative-rating-rating-50: var(--color-secondary-orange-600);
    --decorative-rating-rating-60: var(--color-secondary-yellow-600);
    --decorative-rating-rating-70: var(--color-secondary-greenlight-600);
    --decorative-rating-rating-80: var(--color-secondary-green-600);
    --decorative-rating-rating-90: var(--color-secondary-teal-600);
    --decorative-user-user-dice: var(--color-secondary-bluelight-600);
    --decorative-user-user-exp: var(--color-secondary-greenlight-400);
    --decorative-user-user-exp-hover: var(--color-secondary-greenlight-500);
    --decorative-user-user-gold: var(--color-secondary-yellow-200);
    --decorative-user-user-gold-hover: var(--color-secondary-yellow-300);
    --decorative-user-user-level: var(--color-secondary-green-600);
    --decorative-user-user-notification: var(--color-secondary-rose-500);
    --decorative-user-user-notification-hover: var(--color-secondary-rose-600);
    --decorative-user-user-profit: var(--color-secondary-cyan-400);
    --decorative-user-user-profit-hover: var(--color-secondary-cyan-500);
    --decorative-user-user-shop: var(--color-secondary-yellow-600);
    --interactive-button-button-close-hover: var(--color-primary-drop-500);
    --interactive-button-button-close-press: var(--color-primary-drop-700);
    --interactive-button-button-default: var(--color-primary-gray-100);
    --interactive-button-button-disabled: var(--color-primary-gray-300);
    --interactive-button-button-primary-enabled: var(--color-primary-brand-500);
    --interactive-button-button-primary-hover: var(--color-primary-brand-400);
    --interactive-button-button-primary-press: var(--color-primary-brand-600);
    --interactive-button-button-secondary-hover: var(--color-primary-gray-200);
    --interactive-button-button-secondary-on: var(--color-primary-warning-300);
    --interactive-button-button-secondary-press: var(--color-primary-gray-400);
    --interactive-scrollbar-scrollbar-default: var(--color-primary-gray-400);
    --interactive-scrollbar-scrollbar-track: var(--color-primary-gray-300);
    --interactive-toggle-toggle-disabled: var(--color-primary-gray-700);
    --interactive-toggle-toggle-disabled-hover: var(--color-primary-gray-600);
    --interactive-toggle-toggle-enabled: var(--color-primary-brand-500);
    --interactive-toggle-toggle-enabled-hover: var(--color-primary-brand-400);
    --text-base-text-accent-primary: var(--color-primary-gray-50);
    --text-base-text-accent-quaternary: var(--color-primary-notice-500);
    --text-base-text-accent-secondary: var(--color-primary-drop-500);
    --text-base-text-accent-tertiary: var(--color-primary-warning-300);
    --text-base-text-inverse: var(--color-primary-gray-25);
    --text-base-text-modal-notice: var(--color-primary-notice-400);
    --text-base-text-modal-prompt: var(--color-primary-drop-400);
    --text-base-text-primary: var(--color-primary-gray-100);
    --text-base-text-quaternary: var(--color-primary-gray-400);
    --text-base-text-result-win: var(--color-primary-warning-900);
    --text-base-text-secondary: var(--color-primary-gray-200);
    --text-base-text-tertiary: var(--color-primary-gray-300);
    --text-base-text-tooltip: var(--color-primary-gray-500);
    --text-chat-text-chat-acion: var(--color-primary-gray-300);
    --text-chat-text-chat-error: var(--color-primary-drop-400);
    --text-chat-text-chat-notice: var(--color-primary-notice-500);
    --text-chat-text-chat-subscribe: var(--color-base-cyan-100);
    --text-chat-text-chat-timeline: var(--color-base-yellow-100);
    --text-odds-text-odds-drop: var(--color-primary-drop-500);
    --text-odds-text-odds-drop-30: var(--color-primary-warning-400);
    --text-odds-text-odds-rise: var(--color-primary-rise-500);
    --text-odds-text-odds-rise-70: var(--color-primary-notice-600);
    --text-odds-text-odds-wager: var(--color-primary-brand-400);
    /* numbers */
    --radius-radius-xs: var(--radius-1);
    --radius-radius-sm: var(--radius-2);
    --radius-radius-md: var(--radius-3);
    --radius-radius-lg: var(--radius-4);
    --spacing-spacing-content-ke: var(--spacing-content-0);
    --spacing-spacing-content-xs: var(--spacing-content-1);
    --spacing-spacing-content-sm: var(--spacing-content-2);
    --spacing-spacing-layout-xs: var(--spacing-layout-1);
    --spacing-spacing-content-md: var(--spacing-content-3);
    --spacing-spacing-layout-sm: var(--spacing-layout-2);
    --spacing-spacing-content-lg: var(--spacing-content-4);
    --spacing-spacing-layout-md: var(--spacing-layout-3);
    --spacing-spacing-content-xl: var(--spacing-content-5);
    --spacing-spacing-layout-lg: var(--spacing-layout-4);
    --spacing-spacing-layout-xl: var(--spacing-layout-5);
    --spacing-spacing-layout-2xl: var(--spacing-layout-6);
    --spacing-spacing-layout-3xl: var(--spacing-layout-7);
    --spacing-spacing-layout-4xl: var(--spacing-layout-8);
}