/* dropdown */
.dropdown_wrap {
    position: relative;
    width: 140px;
    height: 40px;
}

.dropdown_wrap>.dropdown_button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border-radius: var(--radius-radius-md, 10px);
    cursor: pointer;
}

.dropdown_wrap>.dropdown_button>*:not(.dropdown-icon_wrap) {
    display: inline-block;
    width: 90px;
    padding-left: var(--spacing-spacing-layout-md, 15px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.dropdown_wrap[type="side"]>.dropdown_button {
    justify-content: flex-end;
    color: var(--interactive-button-button-default, #393d48);
    width: 130px;
    height: 20px;
}

.dropdown_wrap[type="side"]>.dropdown_button:hover {
    color: var(--interactive-button-button-primary-hover, #0075f4);
}

.dropdown_wrap[type="side"]>.dropdown_button:active {
    color: var(--interactive-button-button-primary-press, #0051a8);
}

.dropdown_wrap[change="true"][type="side"]>.dropdown_button {
    color: var(--interactive-button-button-primary-enabled, #0059c2);
}

.dropdown_wrap>.dropdown_button[state="disabled"] {
    color: var(--interactive-button-button-disabled, #7b7d8a);
}

.dropdown_wrap>.dropdown_button[state="enabled"] {
    color: var(--interactive-button-button-default, #393D48);
}

.dropdown_wrap[change="true"]>.dropdown_button {
    color: var(--interactive-button-button-primary-press, #0051a8) !important;
    background: var(--background-background-primary, #ffffff) !important;
}

.dropdown_wrap>.dropdown_button:hover {
    color: var(--interactive-button-button-primary-hover, #0075f4);
    background: var(--background-background-quaternary, #f5f5f8);
}

.dropdown_wrap>.dropdown_button:active {
    color: var(--interactive-button-button-primary-press, #0051a8);
    background: var(--background-background-quaternary, #f5f5f8);
}

.dropdown_wrap>.dropdown_button>.dropdown-icon_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.dropdown_wrap>.dropdown_button>.dropdown-icon_wrap>img {
    display: none;
    width: 18px;
    height: 18px;
}

.dropdown_wrap[change="false"]>.dropdown_button>.dropdown-icon_wrap>#expand_image {
    display: block;
}

.dropdown_wrap[change="true"]>.dropdown_button>.dropdown-icon_wrap>#collapse_image {
    display: block;
}

.dropdown_wrap .dropdown-menu {
    flex-direction: column;
    background: var(--background-background-primary, #ffffff);
    border-radius: var(--radius-radius-md, 10px);
    border: 1px solid var(--border-border-window, #B1B3BB);
    position: relative;
    box-shadow: var(--shadow-md-box-shadow,
            0px 4px 6px -2px rgba(25, 28, 38, 0.04),
            0px 12px 16px -4px rgba(25, 28, 38, 0.08));
    padding: var(--spacing-spacing-layout-sm) 0;
    position: absolute;
    width: 100%;
    z-index: 999;
    overflow-y: auto;
    max-height: 320px;
    color: var(--interactive-button-button-default, #E0E2E6);
}

.dropdown_wrap[change="false"] .dropdown-menu {
    display: none;
}

.dropdown_wrap[change="true"] .dropdown-menu {
    display: flex;
    overflow-x: hidden;
}

.dropdown-menu .dropdown-menu_list>.dropdown-menu_item {
    display: flex;
    align-items: center;
    padding: 0 var(--spacing-spacing-layout-lg, 20px);
    height: 30px;
    cursor: pointer;
}

.dropdown-menu .dropdown-menu_list>.dropdown-menu_item[state="active"] {
    pointer-events: none;
}

.dropdown-menu .dropdown-menu_list>.dropdown-menu_item:hover {
    background: var(--background-background-quaternary, #f5f5f8);
}

/* dropdown - date */
.dropdown_wrap[type="calendar"]>.dropdown_button {
    color: var(--interactive-button-button-default);
}

.dropdown_wrap[type="calendar"][change="false"]>.dropdown_button:hover {
    color: var(--interactive-button-button-primary-hover, #0075f4);
    background: var(--background-background-quaternary, #f5f5f8);
}

.dropdown_wrap[type="calendar"][change="false"]>.dropdown_button:active {
    color: var(--interactive-button-button-primary-press, #0051a8);
    background: var(--background-background-quaternary, #f5f5f8);
}

.dropdown_wrap[type="calendar"][change="true"]>.dropdown_button {
    color: var(--interactive-button-button-primary-enabled, #0059c2);
    background: var(--background-background-primary, #ffffff);
}

.dropdown_wrap[type="calendar"] button#prev,
.dropdown_wrap[type="calendar"] button#next {
    width: 20px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-color: inherit;
    background-position: center;
}

.dropdown_wrap[type="calendar"] button#prev {
    background-image: url("../images/Icon/previous-default-light.svg");
}

html[data-theme="dark"] .dropdown_wrap[type="calendar"] button#prev {
    background-image: url("../images/Icon/previous-default-dark.svg");
}

.dropdown_wrap[type="calendar"] button#next {
    background-image: url("../images/Icon/next-default-light.svg");
}

html[data-theme="dark"] .dropdown_wrap[type="calendar"] button#next {
    background-image: url("../images/Icon/next-default-dark.svg");
}

.dropdown_wrap[type="calendar"] button#prev:hover {
    background-image: url("../images/Icon/previous-hover-light.svg");
}

html[data-theme="dark"] .dropdown_wrap[type="calendar"] button#prev:hover {
    background-image: url("../images/Icon/previous-hover-dark.svg");
}

.dropdown_wrap[type="calendar"] button#next:hover {
    background-image: url("../images/Icon/next-hover-light.svg");
}

html[data-theme="dark"] .dropdown_wrap[type="calendar"] button#next:hover {
    background-image: url("../images/Icon/next-hover-dark.svg");
}

.dropdown_wrap[type="calendar"] .date_content {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1px;
    padding-right: 2px;
}

.dropdown_wrap[type="calendar"] .date_content::after {
    content: "";
    background-image: url("../images/Icon/date-off-disabled-light.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 18px;
}

html[data-theme="dark"] .dropdown_wrap[type="calendar"] .date_content::after {
    background-image: url("../images/Icon/date-off-disabled-dark.svg");
}

.dropdown_wrap[type="calendar"][change="false"]>.dropdown_button:hover .date_content::after {
    background-image: url("../images/Icon/date-off-hover-light.svg");
}

html[data-theme="dark"] .dropdown_wrap[type="calendar"][change="false"]>.dropdown_button:hover .date_content::after {
    background-image: url("../images/Icon/date-off-hover-dark.svg");
}

.dropdown_wrap[type="calendar"][change="false"]>.dropdown_button:active .date_content::after {
    background-image: url("../images/Icon/date-off-press-light.svg");
}

html[data-theme="dark"] .dropdown_wrap[type="calendar"][change="false"]>.dropdown_button:active .date_content::after {
    background-image: url("../images/Icon/date-off-press-dark.svg");
}

.dropdown_wrap[type="calendar"][change="true"]>.dropdown_button .date_content::after {
    background-image: url("../images/Icon/date-on-enabled-light.svg");
}

html[data-theme="dark"] .dropdown_wrap[type="calendar"][change="true"]>.dropdown_button .date_content::after {
    background-image: url("../images/Icon/date-on-enabled-dark.svg");
}

.dropdown_wrap[type="calendar"] .date_content>.date_text {
    display: flex;
    flex-direction: row;
}

.dropdown_wrap[type="calendar"] .date_content>.date_text>#search-date {
    gap: var(--spacing-spacing-content-sm, 4px);
    margin-right: var(--spacing-spacing-content-sm);
}

.dropdown_wrap[type="calendar"] .dropdown-menu>.month_wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--background-background-tertiary, #ededef);
    padding: 0px var(--spacing-spacing-layout-xs, 5px) 0px var(--spacing-spacing-layout-xs, 5px);
    height: 30px;
}

.dropdown_wrap[type="calendar"] .dropdown-menu>.month_wrap>.date_content {
    flex: 1;
}

.dropdown_wrap[type="calendar"] .dropdown-menu>.month_wrap>button {
    background: unset;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;
    width: 20px;
    height: 30px;
    border-radius: 0;
    cursor: pointer;
}

.dropdown_wrap[type="calendar"] .dropdown-menu>.month_wrap>button#prev {
    background-image: url("../images/Icon/previous-default-light.svg");
}

.dropdown_wrap[type="calendar"] .dropdown-menu>.month_wrap>button#next {
    background-image: url("../images/Icon/next-default-light.svg");
}

.dropdown_wrap[type="calendar"] .dropdown-menu>.month_wrap>button#prev:hover {
    background-image: url("../images/Icon/previous-hover-light.svg");
}

.dropdown_wrap[type="calendar"] .dropdown-menu>.month_wrap>button#next:hover {
    background-image: url("../images/Icon/next-hover-light.svg");
}

html[data-theme="dark"] .dropdown_wrap[type="calendar"] .dropdown-menu>.month_wrap>button#prev {
    background-image: url("../images/Icon/previous-default-dark.svg");
}

html[data-theme="dark"] .dropdown_wrap[type="calendar"] .dropdown-menu>.month_wrap>button#next {
    background-image: url("../images/Icon/next-default-dark.svg");
}

html[data-theme="dark"] .dropdown_wrap[type="calendar"] .dropdown-menu>.month_wrap>button#prev:hover {
    background-image: url("../images/Icon/previous-hover-dark.svg");
}

html[data-theme="dark"] .dropdown_wrap[type="calendar"] .dropdown-menu>.month_wrap>button#next:hover {
    background-image: url("../images/Icon/next-hover-dark.svg");
}

.dropdown_wrap[type="calendar"] .dropdown-menu>.dropdown-menu_list>.dropdown-menu_item:hover {
    background: var(--background-background-quaternary, #f5f5f8);
}

.dropdown_wrap[type="calendar"] .dropdown-menu>.dropdown-menu_list>.dropdown-menu_item>span:first-child {
    margin-right: var(--spacing-spacing-content-sm);
}