header#header {
    position: relative;
    min-width: 1700px;
    width: 100%;
}

/* header_container */
.header_container {
    display: inline-flex;
    width: 100%;
    background: var(--background-background-header, #ffffff);
    border-bottom: 1px solid var(--border-border-default);
}

/* header */
.header {
    width: 1700px;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: stretch;
    justify-content: flex-start;
    flex-shrink: 0;
    gap: 20px;
    height: 79px;
    margin: auto;
}

.header.no-menu {
    justify-content: center;
}

/* logo */
header .logo {
    display: block;
    width: 380px;
    margin: auto 0;
}


.header.no-menu>.logo {
    width: auto;
}

header .logo>a {
    display: block;
    width: 201.960001px;
    height: 40.92px;
    background-image: url("../images/Logo/logo-horizontal-color-light.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

[data-theme="dark"] header .logo>a {
    background-image: url("../images/Logo/logo-horizontal-color-dark.svg");
}

/* menu-list */
header .menu-area>.menu-list {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    position: relative;
    gap: 80px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    height: 100%;
    padding: 0px 90px;
}

/* menu-item */
header .menu-area>.menu-list .menu-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 100%;
    color: var(--text-text-primary, #E0E2E6);
    cursor: pointer;
}

header .menu-area>.menu-list .menu-item:not([primary="true"]):hover:before {
    content: "";
    position: absolute;
    top: calc(100% - 4px);
    width: 100%;
    height: 4px;
    background: var(--interactive-button-button-primary-hover, #0075f4);
}

header .menu-area>.menu-list .menu-item[primary="true"] {
    color: var(--interactive-button-button-primary-enabled);
}

/* submenu-list */
header .submenu-list {
    display: none;
    height: 61px;
    gap: 60px;
    top: 100%;
}

header .submenu-list[change="true"] {
    display: flex;
    width: 1920px;
}

header .submenu-list>.submenu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 60px;
}

header .submenu-list>.submenu-item>.button {
    color: var(--interactive-button-button-disabled, #7b7d8a);
}

header .submenu-list>.submenu-item>.button:hover {
    color: var(--interactive-button-button-primary-hover, #0075f4);
}

header .submenu-list>.submenu-item>.button:active {
    color: var(--interactive-button-button-primary-press, #0051a8);
}

/* submenu_container */
header .submenu_container {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 60px;
    background: var(--background-background-header, #ffffff);
    border-style: solid;
    border-color: var(--border-border-default, #d3d4d9);
    border-width: 0px 0px 1px 0px;
    box-shadow: var(--shadow-lg-box-shadow,
            0px 8px 8px -4px rgba(25, 28, 38, 0.04),
            0px 20px 24px -4px rgba(25, 28, 38, 0.08));
}

header .submenu_container[change="true"] {
    display: flex;
    justify-content: center;
}