/* scrollbar */
.ps__rail-y {
    background-color: transparent !important;
    z-index: 9999;
}

.ps__thumb-y {
    position: absolute;
    background: var(--interactive-scrollbar-scrollbar-default, #b1b3bb) !important;
    border-radius: var(--radius-radius-md, 10px);
    opacity: 0.5;
    width: 8px !important;
    right: var(--spacing-spacing-content-sm) !important;
    margin: 4px 0;
    -webkit-border-radius: var(--radius-radius-md, 10px);
    -moz-border-radius: var(--radius-radius-md, 10px);
    -ms-border-radius: var(--radius-radius-md, 10px);
    -o-border-radius: var(--radius-radius-md, 10px);
}

.ps__rail-y.ps--clicking .ps__thumb-y {
    background: var(--interactive-scrollbar-scrollbar-track, #7b7d8a) !important;
}

.ps__rail-x {
    background-color: transparent !important;
    z-index: 9999;
}

.ps__thumb-x {
    position: absolute;
    background: var(--interactive-scrollbar-scrollbar-default, #b1b3bb) !important;
    border-radius: var(--radius-radius-md, 10px);
    opacity: 0.5;
    height: 8px !important;
    bottom: var(--spacing-spacing-content-sm) !important;
}

.ps__rail-x.ps--clicking .ps__thumb-x {
    background: var(--interactive-scrollbar-scrollbar-track, #7b7d8a) !important;
}